@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap");

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.nav__link:hover {
  text-decoration: underline;
  color: #6415ff;
}

h1,
h2,
p {
  line-height: 1.25;
}

p {
  line-height: 1.5;
}

li {
  list-style-type: none;
}

.text-color {
  color: #6415ff;
}

body {
  overflow-x: hidden;
}

/* Navigation */

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.logo__container {
  display: flex;
  align-items: center;
}

.logo__container:hover {
  text-decoration: none;
}

.logo {
  width: 40px;
  height: 40px;
  margin-right: 12px;
}

.logo__name {
  font-size: 24px;
  color: #243e63;
  font-weight: bold;
}

.logo__container:hover .logo__name {
  color: #4a00dd;
}

nav {
  height: 80px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__links {
  display: flex;
}

.nav__link {
  margin: 0 24px;
  font-size: 14px;
  font-weight: bold;
  color: #0f1d31;
}

.nav__link--primary {
  background-color: #6415ff;
  border-radius: 9999px;
  border-bottom-width: 0px;
  padding: 0.75rem 2rem;
  color: white;
  font-weight: 700;
}

.nav__link--primary:hover,
.header__btn:hover {
  text-decoration: none;
  color: white;
  background-color: #4a00dd;
  cursor: pointer;
}

.menu {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 2px;
  margin: 5px auto;
  background-color: #4a00dd;
  transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
}

@media (max-width:1024px) {
  .menu {
    display: block;
    z-index: 11;
    margin: 16px;
  }

  .menu.active .bar:nth-child(2) {
    opacity: 0;
  }

  .menu.active .bar:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
  }

  .menu.active .bar:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
  }

  .nav__links {
    position: fixed;
    right: 0px;
    left: 0px;
    top: 0px;
    transform: translateX(150%);
    flex-direction: column;
    margin: 1rem 1rem;
    padding: 32px;
    text-align: center;
    transition: 300ms;
    background-color: #ffffff;
    z-index: 7;
    border: 1px solid #a3b2c5;
    border-radius: 4px;
  }

  li {
    margin: 16px auto;
  }

  .nav__link {
    font-size: 16px;
  }

  .nav__links.active {
    transform: translateX(0%);
  }
}


/* Header */

header {
  min-height: calc(100vh - 80px);
  padding: 70px 20px;
}

.header__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: relative;
}

.header__description {
  width: 40%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: left;
}

.header__img--container {
  display: flex;
  justify-content: end;
  width: 60%;
}

.header__img {
  width: 100%;
  max-width: 48rem;
  padding-left: 48px;
}

.decoration1 {
  pointer-events: none;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -10;
  height: 16rem;
  width: 16rem;
  transform: translate(-66.67%, 33.33%);
  opacity: 0.05;
}

.header__title {
  font-size: 48px;
  color: #243e63;
}

.header__para {
  font-size: 16px;
  color: #243e63;
  margin: 32px 0;
}

.header__btn--container {
  position: relative;
}

.header__btn--container input {
  width: 100%;
  border-radius: 9999px;
  border: 2px solid #e2e8f0;
  position: relative;
  padding: 1.25rem 12rem 1.25rem 2rem;
  font-weight: 500;
  font-size: 100%;
}

.header__btn--container button {
  display: flex;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  background-color: #6415ff;
  border: none;
  border-radius: 9999px;
  color: white;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 2rem;
  font-weight: bold;
  font-size: 100%;
  margin: 0.5rem;
}

.header__input:hover {
  border-color: #a3b2c5;
}
.header__input:focus {
  outline: 2px solid #6415ff;
  outline-offset: -2px;
}

::placeholder {
  color: #a3b2c5;
  font-weight: 400;
}

.customers__container {
  margin-top: 5rem;
}

.customers__title {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #a3b2c5;
}

.customers__logo {
  margin-top: 16px;
  max-width: 100%;
  width: 100%;
  opacity: 0.5;
}

/* Features */

.features__container,
.pricing__container {
  position: relative;
}

.features,
.pricing {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1024px;
}

.features__title,
.work__title,
.value__title,
.pricing__title {
  font-size: 32px;
  text-align: center;
  margin-bottom: 16px;
  font-weight: 700;
  letter-spacing: 0.05em;
}

.features__sub-title,
.work__sub-title,
.value__sub-title,
.pricing__sub-title {
  text-align: center;
  font-weight: 700;
  font-size: 48px;
  color: #243e63;
  width: 100%;
}

.features__para,
.work__para,
.value__para,
.pricing__para {
  margin-top: 16px;
  font-size: 18px;
  text-align: center;
  max-width: 576px;
  font-weight: 500;
  color: #96a1b1;
}

.breaker {
  margin-top: 40px;
  width: 100%;
}

.feature__container {
  width: calc(100% / 3);
  max-width: 384px;
}

.feature {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 0 16px;
  padding: 32px 8px;
  text-align: left;
}

.feature__icon--container {
  border-radius: 50%;
  border: 1px solid #a3b2c580;
  padding: 20px;
  text-align: center;
  display: inline-flex;
  flex-shrink: 1;
}

.feature__description {
  margin-left: 16px;
  margin-top: 8px;
}

.feature__description--title {
  font-size: 24px;
  color: #243e63;
  font-weight: 700;
  margin-top: 16px;
  line-height: 1;
  letter-spacing: 0.025em;
}

.feature__description--para {
  margin-top: 16px;
  font-weight: 500;
  line-height: 2;
  color: #96a1b1;
}

/* Work */

#features,
#work,
#values,
#pricing {
  padding: 70px 20px;
}

.work__container,
.value__conatiner {
  position: relative;
}

.work,
.value {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.work__img--container,
.value__img--container {
  width: 50%;
  position: relative;
  flex-shrink: 0;
  margin: 0 auto;
}

.work__img,
.value__img {
  max-width: 100%;
  height: auto;
  border-radius: 0.25rem;
  display: block;
}

.work__img {
  border: 1px solid #a3b2c580;
}

.decoration {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  height: 80px;
  width: 80px;
  transform: translate(50%, 50%);
  fill: #4a00dd;
}

.work__description--wrapper,
.value__description--wrapper {
  margin-right: 64px;
  margin-top: 0;
  order: -9999;
  width: 50%;
}

.work__description--container,
.value__description--container {
  padding: 32px 0;
  text-align: left;
}

.work__title,
.work__sub-title,
.work__para,
.value__title,
.value__sub-title,
.value__para {
  text-align: left;
}

.work__sub-title,
.value__sub-title {
  margin-top: 16px;
  line-height: 1.25;
  letter-spacing: 0.052em;
  font-weight: 900;
}

.work__para,
.value__para {
  margin-top: 16px;
}

.work__btn {
  margin: 2rem 0 0 0;
  display: inline-block;
}

.value__btn {
  margin: 3rem 0 0 0;
  display: inline-block;
}

/* Get Started */

#get-started {
  padding: 70px 20px;
}

.get-started__container {
  position: relative;
}

.get-started {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.get-started__img--container {
  width: 50%;
  position: relative;
  flex-shrink: 0;
  margin: 0 auto;
}

.get-started__img {
  max-width: 100%;
  height: auto;
  display: block;
}

.decoration2 {
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: -1;
  left: 50%;
  height: 10rem;
  width: 10rem;
  transform: translate(-50%, 50%);
  opacity: 0.15;
}

.get-started__description--wrapper {
  margin-left: 64px;
  margin-top: 0px;
  width: 50%;
}

.get-started__points {
  margin-top: 48px;
}

.get-started__point {
  display: flex;
  align-items: flex-start;
  margin-top: 32px;
}

.list__number {
  font-size: 2.25rem;
  font-weight: 500;
  line-height: 1;
  color: rgb(203, 213, 224);
}

.list__description {
  margin-left: 1.5rem;
}

.list__description--title {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1;
  color: #243e63;
}

.list__description--para {
  margin-top: 0.75rem;
  max-width: 20rem;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 2;
  color: rgb(113, 128, 150);
}

/* Values */

.value__features--container {
    display: flex;
    margin: 0 auto;
}

.value__feature--container {
    display: flex;
    align-items: flex-start;
    margin-top: 2rem;
    margin-right: 2rem;
    flex-direction: column;
}

.value__feature--title {
    display: flex;
    align-items: center;
}

.value__feature--icon1,
.value__feature--icon2 {
    display: inline-flex;
    padding: 0.5rem;
    border-radius: 9999px;
    text-align: center;
}

.value__feature--icon1 {
  background-color: rgb(154, 230, 180);
}

.value__feature--icon2 {
  background-color: rgb(254 178 178);
}

.value__feature--subtitle {
    margin-left: 0.75rem;
    font-size: 1.25rem;
    font-weight: 700;
    color: #243e63;
}

.vaule__feature--description {
  text-align: left;
  margin-top: 1rem;
  line-height: 1.625;
  color: #8292a7;
}

/* Plans */

.plans__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.plan__container {
position: relative;
display: flex;
flex-direction: column;
width: calc(100% / 3);
max-width: 24rem;
margin: 4rem 2rem 0 0;
padding: 0.5rem 2rem 0 2rem;
text-align: center;
color: rgb(26, 32, 44);
box-shadow: 0 1px 3px 0 #0000001a, 0 1px 2px 0 #0000000f ;
}

.container__color {
  background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
  color: white;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.plan__highlight {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  height: 0.5rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.highlight1 {
  background: linear-gradient(115deg,rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.highlight3 {
  background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.plan__type {
  display: flex;
  padding: 32px 0;
  flex-direction: column;
  line-height: 1.625;
}

.type {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.price {
  margin: 4px 0;
  font-size: 48px;
  font-weight: bold;
}

.duration {
  color: rgb(160, 174, 192);
  font-weight: 700;
  letter-spacing: 0.1em;
}

.plan__features {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin: 0 -2rem;
  border-width: 2px 0;
  border-style: solid;
  border-color: rgb(226, 232, 240);
}

.title {
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 0.035em;
}

.plan__feature {
  color:rgb(113, 128, 150);
  margin-top: 1.25rem;
  font-weight: 500;
}

.text-color1 {
  color:rgb(237 242 247);
}

.buy__now {
  padding: 2rem 4rem;
}

.buy__btn {
  width: 100%;
  border-radius: 9999px;
  padding: 1rem 2rem;
  border-style: none;
  font-size: 0.875rem;
  font-weight: 700;
  color: rgb(250, 250, 250);
  cursor: pointer;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.btn1 {
  background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.btn2 {
  background-color: #ffffff;
  color: rgb(100, 21, 255);
}

.btn3 {
  background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

/* Footer */

#footer {
  padding: 70px 20px 0 20px;
}

.footer__container {
  padding: 4rem 2rem;
  margin: -3rem -2rem -2rem -2rem;
  background-color: rgb(100, 21, 255);
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  text-align: left;
  flex-wrap: wrap;
}

.footer__links {
  width: auto;
  margin-top: 3rem;
}

.footer__link--title {
  font-weight: 700;
  text-transform: uppercase;
  font-size: inherit;
}

.footer__links--subtitles {
  margin-top: 1.5rem;
  font-size: 0.875rem;
  font-weight: 500;
}

.footer__links--subtitle {
  margin-top: 0.75rem;
}

.footer__link {
  color: #ffffff;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-color: transparent;
  padding-bottom: 0.25rem;
  transition: all 200ms ease-in;
}

.footer__link:hover {
  border-color: #ffffff;
}

.horizontal__line {
  margin-top: 4rem;
  margin-bottom: 4rem;
  width: 100%;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-color: rgb(116, 44, 255);
}

.copyright__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__logo--container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.footer__logo {
  width: 2rem;
  max-width: 100%;
  height: auto;
}

.footer__logo--name {
  margin-left: 0.5rem;
  font-size: 1.25rem;
  font-weight: 700;
  color: rgb(250, 250, 250);
}

.copyright {
  font-size: 1rem;
  text-align: center;
  font-weight: 500;
  color: rgb(203, 213, 224);
}

.social__links {
  display: flex;
}

.social__link {
  margin-right: 1rem;
  cursor: pointer;
  display: inline-flex;
  border-radius: 9999px;
  background-color: rgb(250, 250, 250);
  padding: 0.5rem;
}


@media (max-width: 1024px) {
  .header__container {
    flex-direction: column;
  }

  .header__description {
    width: 100%;
    max-width: 32rem;
    text-align: center;
  }

  .header__title {
    font-size: 32px;
  }

  .header__para {
    margin: 16px 0;
  }

  .customers__container {
    margin-top: 3rem;
  }

  .header__btn--container {
    max-width: 28rem;
    margin: 0 auto;
  }

  .header__img--container {
    margin-top: 3rem;
  }

  .header__img {
    padding: 0;
    max-width: 32rem;
  }

  .feature__container {
    width: 50%;
  }

  .decoration2 {
    height: 5rem;
    width: 5rem;
  }

  .features__title, 
  .work__title,
  .value__title,
  .pricing__title {
    font-size: 24px;
  }

  .features__sub-title, 
  .work__sub-title,
  .value__sub-title,
  .pricing__sub-title {
    font-size: 32px;
  }

  .features__para, 
  .work__para,
  .value__para,
  .pricing__para {
    font-size: 16px;
  }

  .value__feature--subtitle {
    font-size: 18px;
  }

  .value__features--container {
    flex-direction: column;
  }

  .plans__container {
    flex-direction: column;
  }

  .plan__container {
    margin-right: 0;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .feature__container {
    width: 100%;
    max-width: 24rem;
  }

  .work, 
  .value,
  .get-started {
    flex-direction: column;
  }

  .work__description--wrapper, 
  .value__description--wrapper {
    order: 0;
  }

  .work__img--container, 
  .value__img--container,
  .work__description--wrapper, 
  .value__description--wrapper,
  .get-started__img--container {
    width: 100%;
    max-width: 28rem;
  }

  .work__description--container, 
  .value__description--container,
  .work__title,
  .work__sub-title,
  .work__para,
  .value__title,
  .value__sub-title,
  .value__para,
  .list__description,
  .vaule__feature--description,
  .feature__description {
    text-align: center;
  }

  .features__para, 
  .work__para, 
  .value__para, 
  .pricing__para,
  .copyright,
  .social__links {
    font-size: 0.875rem;
    margin-top: 2rem;
  }

  .get-started__description--wrapper,
  .work__description--wrapper, 
  .value__description--wrapper {
    margin-top: 4rem;
    margin-left: 0;
    margin-right: 0;
  }

  .get-started__point,
  .feature {
    flex-direction: column;
    align-items: center;
  }

  .list__description,
  .feature__description {
    margin-top: 0.75rem;
    margin-left: 0;
  }

  .value__features--container {
    max-width: 20rem;
  }

  .value__feature--container {
    margin-top: 2.5rem;
    margin-right: 0;
    align-items: center;
  }

  .footer__container {
    justify-content: space-around;
  }

  .copyright__container {
    flex-direction: column;
    
  }

  .social__links {
    justify-content: center;
  }


}